<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Tarjeta de asignatura -->
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center; font-size: 1.2rem;">
        Matematicas
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center; font-size: 1rem; color: gray;">
      Código: mat001
    </ion-card-content>
  </ion-card>
</ion-content>
